
ul {
    list-style-type: none;
    display: flex;
}

li {
    height: auto;
    flex: 1;
}

.container1 {
    display: flex;
}

.item {
    flex: 1;
}

img {
    width: 250px;
    height: auto;
}

.square {
    border: 2px solid #fff;
    border-radius: 25px;
    width: 150px;
    height: 150px;
    flex: 1;

}