
body {
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    height: auto;
    flex: 1;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.item {
    flex: 1;
}

img {
    width: 250px;
    height: auto;
    flex-grow: 0;
}

.square {
    border: 2px solid red;
    border-radius: 25px;
    width: 100px;
    height: 100px;
    flex-grow: 0;

}

.container2 {
    border: 2px solid red;
    text-align: center;
}